{% extends "store/base.html" %}
{% load static %}


{% block title %}Signed Out – WalkEase{% endblock %}

{% block content %}
  <main class="logout-container">
    <div class="card">
      <h2>You’re signed out</h2>
      <p>Thanks for stopping by WalkEase!<br>
         Come back soon.</p>
      <div class="actions">
        <a class="btn" href="{% url 'account_login' %}">Sign In Again</a>
        <a class="btn outline" href="{% url 'store:product_list' %}">Return to Shop</a>
      </div>
    </div>
  </main>
{% endblock %}
